<div>
  <div>
    <h1>
      Welcome to your kingdom <%=@player.name%>!
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Expand your kingdom, build something:
    </h2>

    <form action="/insert_building" method="post">
      <select name="query_building_type_id" id="building_type_id_box">
        <option selected>Select building</option>
        <% @building_types.each do |building_type|%>
        <option value="<%=building_type.id%>"> Build a <%=building_type.building_type_name%> 
        for <%=building_type.clay_cost%> clay, <%=building_type.grain_cost%> grain and <%=building_type.steel_cost%> steel 
        </option>
        <% end %>
      </select>
      <button>
        Build!
      </button>
    </form>




  </div>
</div>

<hr>
<div>
  <div>
    <h3>
      The mighty kingdom of <%=@player.kingdom%>
    </h3>
  </div>
</div>
<div>
  <div>
    <table class="table">
      <tr>

        <th>
          
        </th>

        <th>
          Building type
        </th>

        <th>
          Built at
        </th>

        <th>
          Points value
        </th>

      </tr>

      <% @list_of_buildings.each do |a_building| %>
      <tr>

        <td>
          Image
        </td>

        <td>
          <%= a_building.building_type.building_type_name.capitalize %>
        </td>

        <td>
          <%= time_ago_in_words(a_building.created_at) %> ago
        </td>
        <td>
          <%= a_building.building_type.points_value %> points!
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
